/* Css general de la pagina */
@font-face {
  font-family: "8bitoperator";
  src: url(../fuente/8bitOperatorPlus-Regular.ttf); }

body {
  background-color: #000;
  color: #fff;
  font-family: "8bitoperator"; }
  body a {
    color: #fff; }

/* header */
.header {
  background-color: #000;
  border-bottom: 2px solid #fff;
  /* Propiedad para ajustar el icono */ }
  .header .min-wi {
    min-width: 60px; }
  .header .anchor-header {
    text-decoration: none; }
    .header .anchor-header:hover {
      color: #ffff00; }
  .header .anchor-header-title {
    text-decoration: none; }
    .header .anchor-header-title:hover {
      color: #ffff00;
      text-shadow: 0 0 4px #ffff00; }
  .header .menu-offcanvas {
    background-color: #000;
    border-right: 5px solid #fff; }
  .header .anchor-offcanvas {
    text-decoration: none; }
    .header .anchor-offcanvas:hover {
      color: #ffff00; }

/* Media queries */
/* Media querie para dejar el menu pegado arriba cuando ya este el icono de hamburguesa */
@media screen and (max-width: 992px) {
  .sticky-menu {
    position: sticky;
    top: 0; } }

main section > div {
  border: 5px solid #fff; }

main .main-color {
  background-color: #291129; }

main .main-anchor:hover {
  color: #ffff00; }

main .main-anchor-title {
  color: #fff;
  text-decoration: none; }
  main .main-anchor-title:hover {
    color: #ffff00; }

/* Media querie para que no haya un border left-right cuando este en modo responsive */
@media screen and (max-width: 768px) {
  main section:not(.bienvenida) > div {
    border-left: none;
    border-right: none; } }

footer {
  border-top: 2px solid #fff;
  padding-top: 10px; }
  footer .main-anchor-title {
    color: #fff;
    text-decoration: none; }
    footer .main-anchor-title:hover {
      color: #ffff00;
      text-shadow: 0 0 5px #ffff00; }

/* Animaciones del main de index */
.glowing {
  transition: 1.2s; }
  .glowing:hover {
    box-shadow: 0px 0px 10px #7491F6;
    transform: scale(1.003); }

/* Dando la misma altura de las imagenes */
.img-fix {
  height: 16rem;
  max-width: auto; }
