// Etiquetas unicas de la seccion Autor

.main{
    .autor-section{
        @include separador;
        padding: 24px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        .autor-section__parrafo{
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            padding: 0 10px;
            @include tamaño(xlarge);

            .autor-section__imagen{
                @include tamaño(small);
                margin-bottom: 20px;
            }
        }
    }

    .undertale-section{
        @include separador;
        padding: 24px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        .undertale-section__parrafo{
            @include tamaño(xlarge);
            padding: 0 10px;
        }
        .undertale-section__imagen{
            @include tamaño(medium);
            margin-bottom: 20px;
        }
    }

    .legado-section{
        @include separador;
        padding: 24px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        .legado-section__parrafo{
            @include tamaño(xlarge);
            padding: 0 10px;
        }
        .legado-section__lista{
            @include tamaño(max);
            display: flex;
            justify-content: center;
            justify-items: center;

            ul{
                display: flex;
                flex-flow: row wrap;
                justify-content: center;

                li{
                    margin: 10px;
                }
            }
        }
    }
}