@import "./mixins";

// css general de la pagina


/* Css general de la pagina */
@font-face {
    font-family: $fuente-normal;
    src: url(../fuente/8bitOperatorPlus-Regular.ttf);
}

body{
    background-color: $color-primario;
    color: $color-fuente;
    font-family: $fuente-normal;
    a{
        color: $color-fuente;
    }
    scroll-behavior: smooth;
}

/* Layout */

.layout{
    display: grid;
    grid-template-areas: "header"
                         "main"
                         "footer";
    position: relative;
}

/* header */

.header{
    grid-area: header;
    background-color: $color-primario;
    border-bottom: 2px solid #fff;

    .logo_container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 10px;

        .logo_container__menu{
            display: none;
        }

        .logo_container__logo{
            min-width: 45px;
            width: 5%;
        }
        .logo_container__titulo{
            margin: 0 auto;
        }
    }

    .menu-offcanvas{
        background-color: $color-primario;
        border-right: 5px solid #fff;
        .offcanvas-title{
            margin: 0 auto;
        }
        .menu-offcanvas__enlace{
            @include enlace-b(none);
            margin: 10px 0 10px 40px;
            display: block;
        }
    }

    .nav_container{
        width: 100%;
        .nav_container__lista{
            display: flex;
            justify-content: space-around;
            padding: 0;
            margin-bottom: 10px;
            li{
                padding: 0 5px;
            }
        }
    }

    .anchor-header{
        @include enlace-b(none);
    }

    .anchor-header-title{
        @include enlace-b(none);
    }

    .header-corazon{
        position: relative;
        &::before{
            visibility: hidden;
            content: "";
            width: 25px;
            height: 25px;
            background-image: url(../img/Corazon.png);
            background-position: center;
            background-size: cover;
            position: absolute;
            left: -30px;
        }
        &:hover::before{
            visibility: visible;
        }
    }

    .is-selected{
        position: relative;
    }

    .is-selected::before{
        position: absolute;
        content: ">";
        animation: select 2s steps(2) infinite;
    }

    .is-selected-non-title{
        @extend .is-selected;
    }

    .is-selected-non-title::before{
        animation: select-menu 2s steps(2) infinite;
    }
}

/* Main */

.main{

    grid-area: main;
    min-height: 75vh;
    margin-bottom: 100px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    
    section:not(.bienvenida){
        width: 80%;
    }

    section > div{
        border: 5px solid #fff;
    }

    .main-color{
        background-color: $color-secundario;
    }

    .main-anchor{
        @include enlace-a(underline);
    }

    .main-anchor-title{
        @include enlace-a(none);
    }
}

/* Footer */

.footer{

    grid-area: footer;
    border-top: 2px solid #fff;
    padding-top: 10px;

    position: absolute;
    bottom: 0;

    width: 100%;

    .footer__lista{
        display: flex;
        justify-content: space-around;
        padding-bottom: 10px;
    }
    .main-anchor-title{
        @include enlace-b(none);
    }
}

/*Imagenes*/

.imagenes-fix{
    width: 100%;
    height: auto;
}

/* Listas */

.non-list{
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
}

.lista-horizontal{
    @extend .non-list;
    display: inline-block;
}

.centrar-texto{
    text-align: center;
}