// css general de la pagina


/* Css general de la pagina */
@font-face {
    font-family: $fuente-normal;
    src: url(../fuente/8bitOperatorPlus-Regular.ttf);
}

body{
    background-color: $color-primario;
    color: $color-fuente;
    font-family: $fuente-normal;
    a{
        color: $color-fuente;
    }
    scroll-behavior: smooth;
}

/* header */

.header{
    background-color: $color-primario;
    border-bottom: 2px solid #fff;

    /* Propiedad para ajustar el icono */
    .min-wi{
        min-width: 60px;
    }

    .anchor-header{
        text-decoration: none;
        &:hover{
            color: $color-boton-hover;
        }
    }

    .anchor-header-title{
        text-decoration: none;
        &:hover{
            color: $color-boton-hover;
            text-shadow: 0 0 4px $color-boton-hover;
        }
    }


    .menu-offcanvas{
        background-color: $color-primario;
        border-right: 5px solid #fff;
    }

    .anchor-offcanvas{
        text-decoration: none;
        &:hover{
            color: $color-boton-hover;
        }
    }
}

/* Media queries */

/* Media querie para dejar el menu pegado arriba cuando ya este el icono de hamburguesa */
@media screen and (max-width: 992px){

    .sticky-menu{
        position: sticky;
        top: 0;
    }
}



main{

    section > div{
        border: 5px solid #fff;
    }

    .main-color{
        background-color: $color-secundario;
    }

    .main-anchor:hover{
        color: $color-boton-hover;
    }

    .main-anchor-title{
        color: $color-fuente;
        text-decoration: none;

        &:hover{
            color: $color-boton-hover;
        }
    }

}

/* Media querie para que no haya un border left-right cuando este en modo responsive */

@media screen and (max-width: 768px) {
    main{
        section:not(.bienvenida){
            & > div{
                border-left: none;
                border-right: none;
            }
        }
    }
}

footer{
    border-top: 2px solid #fff;
    padding-top: 10px;

    .main-anchor-title{
        color: $color-boton;
        text-decoration: none;
        &:hover{
            color: $color-boton-hover;
            text-shadow: 0 0 5px $color-boton-hover
        }
    }
}
