// Media queries

/* Media queries especiales */

/* Media querie para dejar el menu pegado arriba cuando ya este el icono de hamburguesa */
@include media-q-max(large){
    .sticky-menu{
        position: sticky;
        top:0;
        z-index: 1;
    }

    .nav_container{
        display: none;
    }

    .footer{
        padding-top: 15px;

        div{
            display: none;
        }
    }
}

@include media-q-min(large){
    .logo_container__logo{
        display: none;
    }
}


/* Media querie para que no haya un border left-right cuando este en modo responsive */

@include media-q-max(medium){
    main{
        section:not(.bienvenida){
            & > div{
                border-left: none;
                border-right: none;
            }
        }
    }
}

/* Breakpoints Mobile */

@include media-max-min(extraextralarge, extralarge){
    .main{

        // Index

        .bienvenida{
            .bienvenida__imagen{
                @include tamaño(large);
            }
        }

        .acercade{
            .acerca-de__parrafo{
                @include tamaño(medium);
            }
            .acerca-de__imagen{
                @include tamaño(medium);
            }
        }

        .personajes{
            .personajes__parrafo{
                @extend .acerca-de__parrafo;
            }
            .personajes__imagen{
                @extend .acerca-de__imagen;
            }
        }

        // acerca-de

        .acercade-section{
            .acercade-section__imagen{
                @include tamaño(medium);
            }
        }

        // Personajes

        .personajes-section__tab-pane{
            @include tamaño(max);

            .personajes-section__pj-container{
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
            }
        }

        .personajes-section__separador{
            display: none;
        }

        .personajes-section__parrafo{
            margin: 0 20px;
            padding: 20px;
        }

        .personajes-section__imagen{
            display: flex;
            margin-bottom: 20px;
            margin: 0 30px;
        }
    }
}

@include media-max-min(extralarge, large){
    .main{

        // Index

        .bienvenida{
            .bienvenida__imagen{
                @include tamaño(large);
            }
        }
        .acercade{
            .acerca-de__parrafo{
                @include tamaño(medium);
            }
            .acerca-de__imagen{
                @include tamaño(medium);
            }
        }

        .personajes{
            .personajes__parrafo{
                @extend .acerca-de__parrafo;
            }
            .personajes__imagen{
                @extend .acerca-de__imagen;
            }
        }

        // acerca-de

        .acercade-section-section{
            .acercade__imagen{
                @include tamaño(medium);
            }
        }

        //  Personajes 

        .personajes-section__tabs{
            .personajes-section__tab-pane{
                @include tamaño(max);

                .personajes-section__pj-container{
                    display: flex;
                    flex-flow: column nowrap;
                    grid-template-rows: 1fr 4fr;
                    justify-content: center;
                    align-items: center;
                }
            }

            .personajes-section__separador{
                display: none;
            }

            .personajes-section__parrafo{
                margin: 20px 0;
                padding: 0;
                @include tamaño(large);
            }

            .personajes-section__imagen{
                @include tamaño-man(20%);
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 20px;
                margin: 0 30px;
            }
        }
    }
}

@include media-max-min(large, medium){

    .main{

        // Index

        section:not(.bienvenida){
            width: 90%;
        }

        .bienvenida{
            .bienvenida__imagen{
                @include tamaño(xlarge);
            }
        }

        .acercade{
            flex-flow: column;
            align-items: center;
            .acerca-de__parrafo{
                @include tamaño(max);
            }
            .acerca-de__imagen{
                @include tamaño(large);
            }
        }

        .personajes{
            .personajes__parrafo{
                @extend .acerca-de__parrafo;
            }
            .personajes__imagen{
                @extend .acerca-de__imagen;
            }
        }

        // acerca-de

        .acercade-section{
            .acercade-section__imagen{
                @include tamaño(medium);
            }
        }

        // Personajes

        .personajes-section__tabs{
            .personajes-section__tab-pane{
                @include tamaño(max);

                .personajes-section__pj-container{
                    display: flex;
                    flex-flow: column nowrap;
                    grid-template-rows: 1fr 4fr;
                    justify-content: center;
                    align-items: center;
                }
            }

            .personajes-section__separador{
                display: none;
            }

            .personajes-section__parrafo{
                @include tamaño(xlarge);
                margin: 20px 0;
                padding: 0;
            }

            .personajes-section__imagen{
                @include tamaño-man(20%);
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 20px;
                margin: 0 30px;
            }
        }

        // Soundtrack

        .soundtrack-section, .comunidad-section{
            .soundtrack-section__parrafo, .comunidad-section__parrafo{
                @include tamaño(xlarge);
                flex-flow: column nowrap;
                align-items: center
            }
            .soundtrack-section__lista, .comunidad-section__lista{
                @include tamaño(xlarge);
                flex-flow: column nowrap;
                align-items: center;
    
                div{
                    @include tamaño(max);
                }
            }
        }

        // Autor

        .autor-section{
            .autor-section__parrafo{
                @include tamaño(max);
            }
        }

        .undertale-section{
    
            .undertale-section__parrafo{
                @include tamaño(max);
            }
            .undertale-section__imagen{
                @include tamaño(large);
            }
        }
        
        .legado-section{
            .legado-section__parrafo{
                @include tamaño(max);
                padding: 0 10px;
            }
        }
    }
}

@include media-max-min(medium, small){
    
    .main{

        // Index

        section:not(.bienvenida){
            width: 100%;
        }



        .bienvenida{
            .bienvenida__imagen{
                @include tamaño(xlarge);
            }
        }

        .acercade{
            flex-flow: column;
            align-items: center;
            .acerca-de__parrafo{
                @include tamaño(max);
            }
            .acerca-de__imagen{
                @include tamaño(large);
            }
        }

        .personajes{
            .personajes__parrafo{
                @extend .acerca-de__parrafo;
            }
            .personajes__imagen{
                @extend .acerca-de__imagen;
            }
        }

        // acerca-de

        .acercade-section{
            .acercade-section__imagen{
                @include tamaño(xlarge);
            }
        }

        .historia-section{
            .historia-section__parrafo{
                @include tamaño(max);
            }   
            div{
                margin: 10px;
            }   
        }

        // Personajes

        .personajes-section__tabs{
            .personajes-section__tab-pane{
                @include tamaño(max);

                .personajes-section__pj-container{
                    display: flex;
                    flex-flow: column nowrap;
                    grid-template-rows: 1fr 4fr;
                    justify-content: center;
                    align-items: center;
                }
            }

            .personajes-section__separador{
                display: none;
            }

            .personajes-section__parrafo{
                @include tamaño(xlarge);
                margin: 20px 0;
                padding: 0;
            }

            .personajes-section__imagen{
                @include tamaño-man(25%);
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 20px;
                margin: 0 30px;
            }
        }

        // soundtrack

        .soundtrack-section, .comunidad-section{
            .soundtrack-section__parrafo, .comunidad-section__parrafo{
                @include tamaño(max);
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
            }
            .soundtrack-section__lista, .comunidad-section__lista{
                @include tamaño(xlarge);
                flex-flow: column nowrap;
                align-items: center;
    
                div{
                    @include tamaño(max);
                }
            }
        }

        // Autor

        .autor-section{
            .autor-section__parrafo{
                @include tamaño(max);
            }
        }

        .undertale-section{
    
            .undertale-section__parrafo{
                @include tamaño(max);
            }
            .undertale-section__imagen{
                @include tamaño(large);
            }
        }

        .legado-section{
            .legado-section__parrafo{
                @include tamaño(max);
                padding: 0 10px;
            }
        }
    }
}

@include media-q-max(small){
    .main{

        // Index

        section:not(.bienvenida){
            width: 100%
        }


        .bienvenida{
            .bienvenida__imagen{
                @include tamaño(xlarge);
            }
        }

        .acercade{
            flex-flow: column;
            align-items: center;
            .acerca-de__parrafo{
                @include tamaño(max);
            }
            .acerca-de__imagen{
                @include tamaño(max);
            }
        }

        .personajes{
            .personajes__parrafo{
                @extend .acerca-de__parrafo;
            }
            .personajes__imagen{
                @extend .acerca-de__imagen;
            }
        }

        // acerca-de

        .acercade-section{
            .acercade-section__imagen{
                @include tamaño(max);
            }
        }

        .historia-section{
            .historia-section__imagen{

                flex-flow: column nowrap;
                height: auto;

                div{
                    @include tamaño(large);
                    margin: 10px;
                }
            }
        }

        // Personajes

        .personajes-section__tabs{
            .personajes-section__tab-pane{
                @include tamaño(max);

                .personajes-section__pj-container{
                    display: flex;
                    flex-flow: column nowrap;
                    grid-template-rows: 1fr 4fr;
                    justify-content: center;
                    align-items: center;
                }
            }

            .personajes-section__separador{
                display: none;
            }

            .personajes-section__parrafo{
                @include tamaño(xlarge);
                margin: 20px 0;
                padding: 0;
            }

            .personajes-section__imagen{
                @include tamaño-man(30%);
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 20px;
                margin: 0 30px;
            }
        }

        // Soundtrack

        .soundtrack-section, .comunidad-section{
            .soundtrack-section__parrafo, .comunidad-section__parrafo{
                @include tamaño(max);
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
            }
            .soundtrack-section__lista, .comunidad-section__lista{
                @include tamaño(xlarge);
                flex-flow: column nowrap;
                align-items: center;
    
                div{
                    @include tamaño(max);
                }
            }
        }

        // Autor

        .autor-section{
            .autor-section__parrafo{
                @include tamaño(max);

                .autor-section__imagen{
                    @include tamaño(medium);
                }
            }   
        }

        .undertale-section{
    
            .undertale-section__parrafo{
                @include tamaño(max);
            }
            .undertale-section__imagen{
                @include tamaño(xlarge);
            }
        }

        .legado-section{
            .legado-section__parrafo{
                @include tamaño(max);
                padding: 0 10px;
            }
        }
    }
}