// Media queries

/* Media queries especiales */

/* Media querie para dejar el menu pegado arriba cuando ya este el icono de hamburguesa */
@include media-q-max(large){
    .sticky-menu{
        position: sticky;
        top:0;
        z-index: 1;
    }

    .nav_container{
        display: none;
    }
}

@include media-q-min(large){
    .logo_container__logo{
        display: none;
    }
}


/* Media querie para que no haya un border left-right cuando este en modo responsive */

@include media-q-max(medium){
    main{
        section:not(.bienvenida){
            & > div{
                border-left: none;
                border-right: none;
            }
        }
    }
}

/* Breakpoints Mobile */

@include media-max-min(extraextralarge, extralarge){
    .main{

        // Index

        .bienvenida{
            .bienvenida__imagen{
                @include tamaño(large);
            }
        }

        .acercade{
            .acerca-de__parrafo{
                @include tamaño(medium);
            }
            .acerca-de__imagen{
                @include tamaño(medium);
            }
        }

        .personajes{
            .personajes__parrafo{
                @extend .acerca-de__parrafo;
            }
            .personajes__imagen{
                @extend .acerca-de__imagen;
            }
        }
    }
}

@include media-max-min(extralarge, large){
    .main{

        // Index

        .bienvenida{
            .bienvenida__imagen{
                @include tamaño(large);
            }
        }
        .acercade{
            .acerca-de__parrafo{
                @include tamaño(medium);
            }
            .acerca-de__imagen{
                @include tamaño(medium);
            }
        }

        .personajes{
            .personajes__parrafo{
                @extend .acerca-de__parrafo;
            }
            .personajes__imagen{
                @extend .acerca-de__imagen;
            }
        }
    }
}

@include media-max-min(large, medium){

    .main{

        // Index

        section:not(.bienvenida){
            width: 90%;
        }

        .bienvenida{
            .bienvenida__imagen{
                @include tamaño(xlarge);
            }
        }

        .acercade{
            flex-flow: column;
            align-items: center;
            .acerca-de__parrafo{
                @include tamaño(max);
            }
            .acerca-de__imagen{
                @include tamaño(large);
            }
        }

        .personajes{
            .personajes__parrafo{
                @extend .acerca-de__parrafo;
            }
            .personajes__imagen{
                @extend .acerca-de__imagen;
            }
        }
    }
}

@include media-max-min(medium, small){
    
    .main{

        // Index

        section:not(.bienvenida){
            width: 100%;
        }



        .bienvenida{
            .bienvenida__imagen{
                @include tamaño(xlarge);
            }
        }

        .acercade{
            flex-flow: column;
            align-items: center;
            .acerca-de__parrafo{
                @include tamaño(max);
            }
            .acerca-de__imagen{
                @include tamaño(large);
            }
        }

        .personajes{
            .personajes__parrafo{
                @extend .acerca-de__parrafo;
            }
            .personajes__imagen{
                @extend .acerca-de__imagen;
            }
        }
    }
}

@include media-q-max(small){
    .main{

        // Index

        section:not(.bienvenida){
            width: 100%
        }


        .bienvenida{
            .bienvenida__imagen{
                @include tamaño(xlarge);
            }
        }

        .acercade{
            flex-flow: column;
            align-items: center;
            .acerca-de__parrafo{
                @include tamaño(max);
            }
            .acerca-de__imagen{
                @include tamaño(max);
            }
        }

        .personajes{
            .personajes__parrafo{
                @extend .acerca-de__parrafo;
            }
            .personajes__imagen{
                @extend .acerca-de__imagen;
            }
        }
    }
}