// Mixins

@mixin media-q-max($breakpoint) {
    @media screen and (max-width: map-get($breakpoints, $breakpoint)){
        @content;
    }
}

@mixin media-q-min($breakpoint) {
    @media screen and (min-width: map-get($breakpoints, $breakpoint)){
        @content;
    }
}

@mixin media-max-min($breakpoint-max, $breakpoint-min){
    @media screen and (max-width: map-get($breakpoints, $breakpoint-max)) and (min-width: map-get($breakpoints, $breakpoint-min)){
        @content;
    }
}

@mixin enlace-a($has-underscore){
    text-decoration: $has-underscore;
    &:hover{
        color: $color-boton-hover;
    }
}

@mixin enlace-b($has-underscore){
    text-decoration: $has-underscore;
    &:hover{
        color: $color-boton-hover;
        text-shadow: 0 0 4px $color-boton-hover;
    }
}

@mixin tama単o($tama単o){
    width: map-get($contenedores-tama単os, $tama単o);
}

@mixin separador{
    margin-top: 50px;
    margin-bottom: 50px;
}